# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
coverage/
.cache/
.next/
out/
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local

# Prisma
prisma/dev.db
prisma/*.db-journal

# Docker
*.pid
*.seed
*.log
docker-compose.override.yml

# VSCode / Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test artifacts
jest-html-reporters-*.html
test-results.xml

# Misc
*.swp
*.swo
